footer {

}
.consult {
display: flex;
  justify-content: space-between;
  width: 820px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
}

.block {
margin: 0;
padding: 15px;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.5px;
}

.prava {
text-align: center;
font-size: 10px;
color: white;
letter-spacing: 0.25px;
padding-bottom: 5px;
}


